h1 {
    color: red;
}
/*
img {
    background-color: green;
}    
*/

.bacon {
    background-color: green;
}

.broccoli {
    background-color: red;
}

.primary {
    background-color: blue;
    color: white;
    border-radius: 5px;
}
.danger {
    background-color: red;
    color: white;
    border-radius: 5px;
}