h1 {
    color: red;
}

img:hover {
    background-color: rgb(100, 83, 196);
}    

/******************** CLASS SELECTORS***************/

.bacon {
    background-color: rgb(212, 193, 193);
}
.broccoli{
    background-color: rgb(17, 48, 17);

    transition: transform  4s ease, background-color 4s ease;
}

 img:hover{
    transform: rotate(-360deg);
    background-color: rgb(188, 234, 188);
}

.primary {
    background-color: blue;
    color: white;
    border-radius: 5px;
    padding: 8px;
    margin: 2px;
}
button{
    border: none;
}

.circular {
    border-radius: 100%;
}
.danger {
    background-color: red;
    color: white;
    border-radius: 5px;
    padding: 8px;
    margin: 2px;
}

/*****************************ID SELECTORS*****************************/

#heading {
    color: rgb(221, 247, 77);
}
#big {
    font-size: 1000px;
}