h1 {
    color: red;
}
/*
img {
    background-color: green;
}    
*/

.bacon {
    background-color: rgb(212, 193, 193);
}

.broccoli {
    background-color: rgb(137, 147, 137);
}

.primary {
    background-color: blue;
    color: white;
    border-radius: 5px;
}
.danger {
    background-color: red;
    color: white;
    border-radius: 5px;
}