body {
    margin: 0px;
    text-align: center;
}

h1 {
    margin-top: 0px;
    width: 100%;
    margin: 0 auto;
    /* font-family: "Montserrat", sans-serif;
    font-style: normal; */
        font-family: "Montez", cursive;
        font-weight: 900;
        font-style: normal;    
        font-size: 35px;  
}

.top-container {
    background-color: #DEF9C4;
    position: relative;
    padding-top: 100px;
}

span {
    text-decoration: underline;
}

.red {
    background-color: red;
    height: 200px;
    width: 200px;
    display: inline-block;
}

.blue {
    background-color: blue;
    height: 200px;
    width: 200px;
    display: inline-block;
}

.yellow {
    background-color: yellow;
    height: 200px;
    width: 200px;
    display: inline-block;
}

.green {
    background-color: green;
    height: 200px;
    width: 200px;
}

.pink {
    background-color: pink;
    height: 200px;
    width: 200px;
    position: absolute;
    left: 200px;
}

.orange {
    background-color: orangered;
    height: 200px;
    width: 200px;
    position: absolute;
    left: 400px;
    top: 713px;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}
img {
    width: 250px;
    height: 250px;
    border-radius: 100%;
    object-fit: cover;
}